<% entries.each do |entry| %>
  <p><%= entry[:created_at] %>: <%= entry[:text] %></p>
<% end %>

<form method="POST">
  <fieldset>
    <legend>Text</legend>
    <div class="input-group fluid">
      <label for="entry">Text</label>
      <input id="entry"
             type="textarea"
             name="text"
             value="<%= text %>"
             placeholder="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient"
      >
    </div>
  </fieldset>
  <input type="submit" class="primary" value=" Los ">
  <input type="reset" class="secondary" value="Reset">
</form>
