<form method="POST">
  <fieldset>
    <legend>Quelle</legend>
    <div class="input-group fluid">
      <label for="url">URL</label>
      <input id="url"
             type="url"
             name="url"
             value="<%= url %>"
             placeholder="e.g. http://www.example.com"
      >
    </div>
  </fieldset>
  <input type="submit" class="primary" value=" Los ">
  <input type="reset" class="secondary" value="Reset">
</form>
